@model App.Models.ProjectViewModel
@using App.Models

@{
    ViewBag.Title = "Add Project";
}


<div class="col-md-4">
    <br /><br /><br /><br />
    <h2>Add Project</h2>

    @using (Html.BeginForm("CreateProject", "Project", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <h4>Add new project.</h4>
        @Html.Partial("ProjectInputPartial")
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jq")
    @Scripts.Render("~/bundles/datepicker")
    @Styles.Render("~/Content/datepicker-styles")
    <script>
        (function () {
            $('.datepicker').datepicker();
        })();
    </script>
}



