@using App.Models
@model ProjectViewModel
@{
    ProjectViewModel item = Model;
}

@using (Html.BeginForm("SetupProject", "Project", FormMethod.Get, new { @class = "", role = "" }))
{
    @Html.HiddenFor(x => x.Id);
    <td width="50">
        <input type="submit" value="Setup" class="btn btn-primary" />
    </td>
}

@using (Html.BeginForm("RemoveProject", "Project", FormMethod.Post, new { @class = "", role = "" }))
{
    @Html.HiddenFor(x => x.Id);
    <td width="50">
        <input type="submit"  value="Remove" class="btn btn-primary remove" />
    </td>
}

@using (Html.BeginForm("EditProject", "Project", FormMethod.Get, new { @class = "", role = ""}))
{
    @Html.HiddenFor(x => x.Id);
    <td width="50">
        <input type="submit"  value="Edit" class="btn btn-primary"/>
    </td>
}         

@using (Html.BeginForm("Manage", "Employee", FormMethod.Get, new { @class = "", role = "" }))
{
    @Html.Hidden("month");
    @Html.Hidden("year");
    @Html.Hidden("page")
    @Html.Hidden("sort");
    @Html.Hidden("projectId", item.Id);
    <td width="50">
        <input type="submit" value="Manage" class="btn btn-primary" />
    </td>
}

 

