@using App.Models
@using App.DAL;
@model  ExtendedProjectViewModel
@{
    ExtendedProjectViewModel project = Model;
 }

<link rel="stylesheet" href="~/Content/multiple-select.css" />
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/multiselect.min.js"></script>

<div class="row">
    <div class="col-xs-5" style="width:26%;">
        <h4>Employable</h4>
    </div>
    <div class="col-xs-2">
        <h4>Options</h4>
    </div>
    <div class="col-xs-5">
        <h4>Employed</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-5" style="width:26%;">
        <select name="from[]" id="undo_redo" class="form-control" size="13" multiple="multiple">
            @foreach (Tuple<String,Int32> e in project.Employees)
            {
                    <option value="@e.Item2">
                        @e.Item1
                    </option>
            }
        </select>
    </div>

    <div class="col-xs-2">
        <button type="button" id="undo_redo_undo" class="btn btn-primary btn-block">undo</button>
        <button type="button" id="undo_redo_rightAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-forward"></i></button>
        <button type="button" id="undo_redo_rightSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button type="button" id="undo_redo_leftSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button type="button" id="undo_redo_leftAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i></button>
        <button type="button" id="undo_redo_redo" class="btn btn-warning btn-block">redo</button>
    </div>
   
    <div class="col-xs-5">
        <select name="to[]" id="undo_redo_to" class="form-control" size="13" multiple="multiple" >
           @foreach (Tuple<String, Int32> e in project.Current)
           {
            <option value="@e.Item2">
                @e.Item1
            </option>
           }
        </select>
    </div>
</div>

<br /><br />

@using (Html.BeginForm("SetupProject", "Project", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.Hidden("ids", "",  new { @id = "idList" })
    @Html.Hidden("projectId", @project.Id, new { })
    <input type="submit" id="submit" class="btn btn-default" value="Confirm employment"/>
}


<script type="text/javascript">
    function ToSumbit(o) {
        var hidden = $('#idList');
        var select = $('#undo_redo_to');
        var length = select.length();
        console.log(length);

        for (var i = 0; i < length; i++) {
            hidden.val() += (" " + select.v);
        }
    };

    (function () {
        $('#undo_redo').multiselect();

        $('#submit').on("click", function () {
            ToSumbit(this);
        });
        $(document).ready(function()
        {
            var hidden = document.getElementById("idList");
            hidden.value = "";
        });
    })();
</script>