@using App.Models
@model  ICollection<ProjectViewModel> 
@{
    ViewBag.Title = "Show Projects";
    ICollection<ProjectViewModel> ProjectList = Model;
}
<br /><br />

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="col-xs-3">
    @using (Html.BeginForm("Search", "Project", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

    <br /><br /><br />
    <h3>Search options</h3>
    <br />

    @Html.Partial("ProjectSearchPartial", new ProjectViewModel())
}
</div>
<div class="col-xs-5">

    <br /><br /><br />
    <h2>Projects</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ProjectList)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.StartDate</td>
                    <td>@item.EndDate</td>
                    @Html.Partial("OptionsPartial", item)
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/datepicker")
    @Styles.Render("~/Content/datepicker-styles")

    <script type="text/javascript">
        (function () {
            $('.remove').each (function () {
                $(this).on("click", function () {
                    if (confirm("Are you sure you want to delete project?") == true) {
                        this.submit();
                    } else {
                        return false;
                    }
                })
            });
            $('.datepicker').datepicker({
                orientation: 'bottom'
            });
        })();
    </script>
}





