@using App.Models
@model ICollection<ProjectViewModel>
@{
    ViewBag.Title = "Show Projects";
    ICollection<ProjectViewModel> ProjectList = Model;
    PositionsDataAccessObject RoleContainer = new PositionsDataAccessObject();
}

<h2>Employees</h2>

<!-- TODO ADD TO BUNDLES-->
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ProjectList)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.StartDate</td>             
                <td>@item.EndDate</td>
                <td>
                   @Html.ActionLink("Remove", "RemoveProject", new { id = item.Id }, new { @class = "" }) |
                   @Html.ActionLink("Edit","EditProject", new { id = item.Id }, new { @class = "" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
}
<script>
    (function(){
        $('.datepicker').datepicker()
    })();
    function submit(e) {
        aler
    }
</script>



