@using App.Models
@model EmployeeModel
@{
    EmployeeModel item = Model;
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap-datepicker3.min.css" />

@using (Html.BeginForm("RemoveEmployee", "Employee", FormMethod.Post, new { @class = "", role = "" }))
{
    @Html.HiddenFor(x => x.Id, item.Id);
    <td width="50">
        <input type="submit" value="Remove" class="btn btn-primary" onclick="return ToSubmit(this)" />
    </td>
}

@using (Html.BeginForm("EditEmployee", "Employee", FormMethod.Get, new { @class = "", role = ""}))
{
    @Html.HiddenFor(x => x.Id, item.Id);
    <td width="50">
        <input type="submit" value="Edit" class="btn btn-primary"/>
    </td>
}          

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
}      

<script type="text/javascript">
    (function () {
    })();
    function ToSubmit(o) {
        event.preventDefault;
        if (confirm("Are you sure you want to remove this employee?") == true) {
            this.submit()
        } else {
            return false;
        }
    }
</script>