@using App.Models
@model ICollection<EmployeeModel>
@{
    ViewBag.Title = "Show Employees";
    ICollection<EmployeeModel> EmployeeList = Model;
    PositionsService RoleContainer = new PositionsService();
}

<h2>Employees</h2>

<table class="table">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Position</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in EmployeeList)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Position</td>               
                   @Html.Partial("CommonOptions", item)
            </tr>           
        }
    </tbody>
</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker3.min.css" />
}

<script type="text/javascript">
    (function () {
    })();
    function ToSubmit(o) {
        event.preventDefault;
        if (confirm("Are you sure you want to remove this employee?") == true) {
            this.submit()
        } else {
            return false;
        }
    }
</script>



